<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/about.jpg">
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Venkat sailesh.K.It uses data from weatherstack API.</p>
        <img src="/img/user-venkat.png" class="potrait">
        <p>Hi {{name}}</p>
        </div>
        
         {{>footer}}
    </body>
</html>