<!DOCTYPE html>
<html>
    <head>
         <title>Weather</title>
         <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="./css/style.css">
     
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>Use this site to get your weather!</p>
             <form class="index-form-edit">
                <input id="locat" placeholder="Enter location">
                <button id="search">Search</button>
             </form>

             <p id="message-1"></p>
             <p id="message-2"></p>
             <p id="message-3"></p>
        </div>
       
        {{>footer}}
           <script src="./js/app.js"></script>
    </body>
</html>